html, body, #app {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	color: #eee;
	background: #333;
}

#app {
	display: flex;
	flex-direction: column;
}

.app-view {
	grid-template-columns: 10em auto 10em;
	grid-template-rows: 5em auto 5em;
	height: 0;
	flex: auto;
}

.status-bar {
	background: #444;
	padding: 0.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
